.separator {
  width: '100%';
  height: 1px;
  background: #EFEFEF;
  margin: 5px;
}

.separatorThick {
  width: '100%';
  height: 5px;
  background: #EFEFEF;
  margin: 5px;
}

.input{
  width: 300px;
}

.large-input{
  width: 500px;
}
